@import "src/styles/variables";
@import "src/styles/mixins";.education {
    @include main-position(1em, 9, 17,3 ,6, $main_list-color);
  }
  .text {
    color:ghostwhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: $base-font-size * 1.5;
    line-height: $base-line-height;
    letter-spacing: $base-letter-spacing;
  }
