$aside-color: #7AA899;
$aside_button-color: #6e6c78;
$body-color: #3b3a3d;
$hover-color: rgb(107, 103, 110);
$main_list-color: #6e6c78;
$text-color: #ffffff;
$weight-img: 12em;
$height-img: 19em;
$default-padding: 1em;
$radius-block: 15px;
$color-input:aliceblue;
// Font properties
$base-line-height: 1.5;
$base-letter-spacing: 0.02em;
$base-font-size: 1rem;
// Media queries
$small-screen: 480px;
$medium-screen: 768px;
$large-screen: 1024px;
