.container{
    display: flex;
    gap: 0.5em;

    flex-wrap: wrap;
}

.columnL{
    flex-wrap: wrap;
    display: flex;
    flex: 1;
    flex-direction: column;
}
.columnR{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.item{
    flex: 1;
    border: 2px solid red;
    padding: 20px;

}

@media screen and (max-width: 1200px ){
    .columnR{
        flex-basis: 100%;
    }


}
@media screen and (max-width: 600px){
    .columnL{
        flex-basis: 100%;

    }


}

/*.container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    padding: 10px;

}

@media (max-width: 767px) {
    .column {
        flex-basis: 100%;
    }
}*/

