$aside-color: #7AA899;
$aside_button-color: #6e6c78;
$body-color: #3b3a3d;
$main_list-color: #6e6c78;
$text-color: #ffffff;
$weight-img: 12em;
$height-img: 19em;
$default-padding: 1em;
$radius-block: 15px;
$color-input:aliceblue;

