@import "--variables";
@import "--mixins";
.text--color{
  color: $text-color;
}

.aside{
  background-color: $aside-color;
  width: 20.5em;
  height: 35em;
  position:fixed;
  left: 20em;
  border-radius: $radius-block;
}
.aside_img{
  width: $weight-img;
  height: $height-img;
  padding-left: 1.4em;
  padding-top: 1em;
}
.aside_caption{
  font-weight: 900;
  font-size: 1.5rem ;
}
.aside_list{
  padding-left: 4em;
}
.aside_list--item{
  font-size: 1.2em;
  font-weight: 400;
}
.aside_button--area{
  background-color: $aside_button-color;
  @include size(20.5em, 3em);
 // width: 20.5em; height: 3em;

  margin-top:-0.4em;
  border-radius: 15px;
}
.aside_button{
  position: absolute;
  left: 7.5em;
  margin-top: 1em;
  border-radius: 20px;
}
.body--color{
  background-color: $body-color;
}

.main_data{
  position: absolute;
  left: 42em;

}
.list_h2{
  padding-left: 1em;
  padding-top: 0.6em;

}
.list_h2_connection{
  padding-left: 7em;
  padding-top: 1em;

}


.main_list_small{
  background-color: $main_list-color;
  @include size(44em, 8em);
  @include fade-in(2s);
 // width: 44em; height: 8em;

  border-radius: $radius-block;
}

.main_list_big{
  background-color: $main_list-color;
  @include size(44em, 13em);
  //width: 44em;  height: 13em;

  border-radius: $radius-block;
}
.main_list_footer{
  @include pulse-animation(1s, 1, 0.9);//пульсация
  background-color: $main_list-color;
  width: 44em;
  height: 2em;
  border-radius: $radius-block;
}
.footer_h2{
  padding-left: 12em;
}

.list_input{
  padding-left: 13em;

}
.input_name_connection{
  width: 23em;
  height: 2em;
}

.input_email_connection{
  width: 23em;
  height: 2em;
}
.input_message{
  width: 23em;
  height: 10em;

}
.button_connection{
  padding-left: 8em;
  padding-top: 1em;
}

.input_name--position{
  padding-top: 0.1em;

}
.input_email--position{
  padding-top: 1em;

}
.input_message--position{
  padding-top: 1em;
}
.message{
  padding-left:7em;
  padding-top: 1em;
}

.main_list_connection{
  background-color: $main_list-color;
  width: 44em;
  height: 30em;
  border-radius: $radius-block;
}


